<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>iPortfolio - Dashboard</title>
	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" href="assets/images/logo60.png" />
	<link href="./vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="./vendor/chartist/css/chartist.min.css" />
	<link href="./vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
	<link href="./css/style.css" rel="stylesheet" />
	<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet" />
	<link href="./vendor/owl-carousel/owl.carousel.css" rel="stylesheet" />
</head>

<body>
	<!--*******************
        Preloader start
    ********************-->
	<div id="preloader">
		<div class="sk-three-bounce">
			<div class="sk-child sk-bounce1"></div>
			<div class="sk-child sk-bounce2"></div>
			<div class="sk-child sk-bounce3"></div>
		</div>
	</div>
	<!--*******************
        Preloader end
    ********************-->

	<!--**********************************
        Main wrapper start
    ***********************************-->
	<div id="main-wrapper">
		<!--**********************************
            Nav header start
        ***********************************-->
		<%- include('./partials/nav-header.ejs'); %>
			<!--**********************************
            Nav header end
        ***********************************-->

			<!--**********************************
            Chat box start
        ***********************************-->

			<!--**********************************
            Chat box End
        ***********************************-->

			<!--**********************************
            Header start
        ***********************************-->
			<%- include('./partials/navbar.ejs', {user}); %>

				<!--**********************************
            Header end ti-comment-alt
        ***********************************-->

				<!--**********************************
            Sidebar start
        ***********************************-->
				<%- include('./partials/sidebar.ejs'); %>
					<!--**********************************
            Sidebar end
        ***********************************-->

					<!--**********************************
            Content body start
        ***********************************-->
					<div class="content-body">
						<!-- row -->
						<div class="container-fluid">
							<div class="form-head d-flex mb-4 mb-md-5 align-items-start">
								<div class="input-group search-area d-inline-flex">
									<div class="input-group-append">
										<span class="input-group-text"><i class="flaticon-381-search-2"></i></span>
									</div>
									<input type="text" class="form-control" placeholder="Search here" />
								</div>
								<a href="javascript:void(0);" class="btn btn-primary ml-auto">+ Add New Cyrpto</a>
							</div>
							<div class="row">
								<div class="col-xl-3 col-xxl-6 col-lg-6 col-sm-6">
									<div class="card overflow-hidden">
										<div class="card-header border-0 pb-0">
											<div class="mr-auto">
												<h2 class="text-black mb-2 font-w600">
													₹<%= bitcoin %>
												</h2>
												<p class="mb-1 fs-13">
													<svg width="21" height="15" viewBox="0 0 21 15" fill="none"
														xmlns="http://www.w3.org/2000/svg">
														<path
															d="M1 13.5C1.91797 12.4157 4.89728 9.22772 6.5 7.5L12.5 10.5L19.5 1.5"
															stroke="#2BC155" stroke-width="2" />
														<path
															d="M6.5 7.5C4.89728 9.22772 1.91797 12.4157 1 13.5H19.5V1.5L12.5 10.5L6.5 7.5Z" />
														<defs>
															<linearGradient x1="10.25" y1="3" x2="11" y2="13.5"
																gradientUnits="userSpaceOnUse">
																<stop stop-color="#2BC155" offset="1"
																	stop-opacity="0.73" />
																<stop offset="1" stop-color="#2BC155"
																	stop-opacity="0" />
															</linearGradient>
														</defs>
													</svg>
													4%(30 days)
												</p>
											</div>
											<img src="images/svg/bitcoin-1.svg" alt="" />
										</div>
										<div class="card-body p-0">
											<canvas id="widgetChart1" height="75"></canvas>
										</div>
									</div>
								</div>
								<div class="col-xl-3 col-xxl-6 col-lg-6 col-sm-6">
									<div class="card overflow-hidden">
										<div class="card-header border-0 pb-0">
											<div class="mr-auto">
												<h2 class="text-black mb-2 font-w600">
													₹<%= ethereum %>
												</h2>
												<p class="mb-1 fs-13">
													<svg width="21" height="15" viewBox="0 0 21 15" fill="none"
														xmlns="http://www.w3.org/2000/svg">
														<path
															d="M1 13.5C1.91797 12.4157 4.89728 9.22772 6.5 7.5L12.5 10.5L19.5 1.5"
															stroke="#2BC155" stroke-width="2" />
														<path
															d="M6.5 7.5C4.89728 9.22772 1.91797 12.4157 1 13.5H19.5V1.5L12.5 10.5L6.5 7.5Z" />
														<defs>
															<linearGradient x1="10.25" y1="3" x2="11" y2="13.5"
																gradientUnits="userSpaceOnUse">
																<stop stop-color="#2BC155" offset="1"
																	stop-opacity="0.73" />
																<stop offset="1" stop-color="#2BC155"
																	stop-opacity="0" />
															</linearGradient>
														</defs>
													</svg>
													4%(30 days)
												</p>
											</div>
											<img src="images/svg/ethereum-1.svg" alt="" />
										</div>
										<div class="card-body p-0">
											<canvas id="widgetChart2" height="75"></canvas>
										</div>
									</div>
								</div>
								<div class="col-xl-3 col-xxl-6 col-lg-6 col-sm-6">
									<div class="card overflow-hidden">
										<div class="card-header border-0 pb-0">
											<div class="mr-auto">
												<h2 class="text-black mb-2 font-w600">
													₹<%= ripple %>
														<p class="mb-1 fs-13">
															<svg width="21" height="15" viewBox="0 0 21 15" fill="none"
																xmlns="http://www.w3.org/2000/svg">
																<path
																	d="M1 13.5C1.91797 12.4157 4.89728 9.22772 6.5 7.5L12.5 10.5L19.5 1.5"
																	stroke="#2BC155" stroke-width="2" />
																<path
																	d="M6.5 7.5C4.89728 9.22772 1.91797 12.4157 1 13.5H19.5V1.5L12.5 10.5L6.5 7.5Z" />
																<defs>
																	<linearGradient x1="10.25" y1="3" x2="11" y2="13.5"
																		gradientUnits="userSpaceOnUse">
																		<stop stop-color="#2BC155" offset="1"
																			stop-opacity="0.73" />
																		<stop offset="1" stop-color="#2BC155"
																			stop-opacity="0" />
																	</linearGradient>
																</defs>
															</svg>
															4%(30 days)
														</p>
											</div>
											<img src="images/svg/ripple-1.svg" alt="" />
										</div>
										<div class="card-body p-0">
											<canvas id="widgetChart3" height="75"></canvas>
										</div>
									</div>
								</div>
								<div class="col-xl-3 col-xxl-6 col-lg-6 col-sm-6">
									<div class="card overflow-hidden">
										<div class="card-header border-0 pb-0">
											<div class="mr-auto">
												<h2 class="text-black mb-2 font-w600">
													₹<%= litecoin %>
												</h2>
												<p class="mb-1 fs-13">
													<svg width="21" height="15" viewBox="0 0 21 15" fill="none"
														xmlns="http://www.w3.org/2000/svg">
														<path
															d="M1 13.5C1.91797 12.4157 4.89728 9.22772 6.5 7.5L12.5 10.5L19.5 1.5"
															stroke="#2BC155" stroke-width="2" />
														<path
															d="M6.5 7.5C4.89728 9.22772 1.91797 12.4157 1 13.5H19.5V1.5L12.5 10.5L6.5 7.5Z" />
														<defs>
															<linearGradient x1="10.25" y1="3" x2="11" y2="13.5"
																gradientUnits="userSpaceOnUse">
																<stop stop-color="#2BC155" offset="1"
																	stop-opacity="0.73" />
																<stop offset="1" stop-color="#2BC155"
																	stop-opacity="0" />
															</linearGradient>
														</defs>
													</svg>
													4%(30 days)
												</p>
											</div>
											<img src="images/svg/litecoin-1.svg" alt="" />
										</div>
										<div class="card-body p-0">
											<canvas id="widgetChart4" height="75"></canvas>
										</div>
									</div>
								</div>
								<div class="col-xl-6 col-xxl-12 col-lg-12">
									<div class="card">
										<div class="card-header d-sm-flex d-block pb-0 border-0">
											<div>
												<h4 class="text-black fs-20">
													Market Overview
												</h4>
												<p class="fs-13 mb-0">
													Lorem ipsum dolor sit amet,
													consectetur
												</p>
											</div>
											<div class="dropdown mt-sm-0 mt-3">
												<button type="button"
													class="btn rounded-0 text-black bgl-light dropdown-toggle"
													data-toggle="dropdown" aria-expanded="false">
													Monthly (2020)
												</button>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0);">Link 1</a>
													<a class="dropdown-item" href="javascript:void(0);">Link 2</a>
													<a class="dropdown-item" href="javascript:void(0);">Link 3</a>
												</div>
											</div>
										</div>
										<div class="card-body" id="user-activity">
											<div class="d-flex flex-wrap justify-content-between mb-5">
												<div class="card-action card-tabs icontabs mt-3 mt-sm-0">
													<ul class="nav nav-tabs" role="tablist">
														<li class="nav-item">
															<a class="nav-link active" data-toggle="tab" href="#user"
																role="tab" aria-selected="true">
																ALL
															</a>
														</li>
														<li class="nav-item">
															<a class="nav-link" data-toggle="tab" href="#bounce"
																role="tab" aria-selected="false">
																<i class="fa fa-btc" aria-hidden="true"></i>
															</a>
														</li>
														<li class="nav-item">
															<a class="nav-link" data-toggle="tab"
																href="#session-duration" role="tab"
																aria-selected="false">
																<i class="lab la-ethereum"></i>
															</a>
														</li>
													</ul>
												</div>
												<div class="d-flex align-items-center mt-3 mt-sm-0">
													<p class="mb-0 fs-13 mr-3">
														Average
													</p>
													<h2 class="mb-0 text-black font-w600">
														45%
													</h2>
												</div>
											</div>
											<div class="tab-content" id="myTabContent">
												<div class="tab-pane fade show active" id="user" role="tabpanel">
													<canvas id="activityLine" height="350"></canvas>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-xl-6 col-xxl-8 col-lg-8">
									<div class="card">
										<div class="card-header d-block d-sm-flex border-0">
											<div>
												<h4 class="fs-20 text-black">
													Recent Trading Activities
												</h4>
												<p class="mb-0 fs-13">
													Lorem ipsum dolor sit amet,
													consectetur
												</p>
											</div>
											<div class="card-action card-tabs mt-3 mt-sm-0">
												<ul class="nav nav-tabs" role="tablist">
													<li class="nav-item">
														<a class="nav-link active" data-toggle="tab" href="#monthly"
															role="tab">
															Monthly
														</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" data-toggle="tab" href="#Weekly" role="tab">
															Weekly
														</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" data-toggle="tab" href="#Today" role="tab">
															Today
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="card-body tab-content p-0">
											<div class="tab-pane active show fade" id="monthly" role="tabpanel">
												<div class="table-responsive">
													<table class="table shadow-hover card-table">
														<tbody>
															<tr>
																<td>
																	<span class="bgl-success p-3 d-inline-block">
																		<svg width="29" height="29" viewBox="0 0 29 29"
																			fill="none"
																			xmlns="http://www.w3.org/2000/svg">
																			<path
																				d="M23.6186 15.7207L23.6186 15.7207L23.6353 22.6289C23.6354 22.6328 23.6354 22.6363 23.6353 22.6396M23.6186 15.7207L23.1353 22.6341L23.6353 22.635C23.6353 22.6481 23.6347 22.6583 23.6345 22.6627L23.6344 22.6642C23.6346 22.6609 23.6351 22.652 23.6353 22.6407C23.6353 22.6403 23.6353 22.64 23.6353 22.6396M23.6186 15.7207C23.6167 14.9268 22.9717 14.2847 22.1777 14.2866C21.3838 14.2885 20.7417 14.9336 20.7436 15.7275L20.7436 15.7275L20.7519 19.1563M23.6186 15.7207L20.7519 19.1563M23.6353 22.6396C23.6329 23.4282 22.9931 24.0705 22.2017 24.0726C22.2 24.0726 22.1983 24.0727 22.1965 24.0727L22.1944 24.0727L22.1773 24.0726L15.2834 24.056L15.2846 23.556L15.2834 24.056C14.4897 24.054 13.8474 23.4091 13.8494 22.615C13.8513 21.8211 14.4964 21.179 15.2903 21.1809L15.2903 21.1809L18.719 21.1892L5.53639 8.0066C4.975 7.44521 4.975 6.53505 5.53639 5.97367C6.09778 5.41228 7.00793 5.41228 7.56932 5.97367L20.7519 19.1563M23.6353 22.6396C23.6353 22.6376 23.6353 22.6356 23.6353 22.6336L20.7519 19.1563M22.1964 24.0726C22.1957 24.0726 22.1951 24.0726 22.1944 24.0726L22.1964 24.0726Z"
																				fill="#2BC155" stroke="#2BC155" />
																		</svg>
																	</span>
																</td>
																<td>
																	<div class="font-w600 wspace-no">
																		<span class="mr-1">
																			<svg width="24" height="24"
																				viewBox="0 0 24 24" fill="none"
																				xmlns="http://www.w3.org/2000/svg">
																				<path
																					d="M16 9.50011C15.9992 8.67201 15.216 8.00092 14.2501 8H9V11H14.2501C15.216 10.9993 15.9992 10.328 16 9.50011Z"
																					fill="#FFAB2D" />
																				<path
																					d="M9 16H14.2501C15.2165 16 16 15.3285 16 14.5001C16 13.6715 15.2165 13 14.2501 13H9V16Z"
																					fill="#FFAB2D" />
																				<path
																					d="M12 0C5.3726 0 0 5.3726 0 12C0 18.6274 5.3726 24 12 24C18.6274 24 24 18.6274 24 12C23.9924 5.37574 18.6243 0.00758581 12 0ZM18.0001 14.5713C17.9978 16.4641 16.4641 17.9978 14.5716 17.9999V18.8571C14.5716 19.3305 14.1876 19.7143 13.7144 19.7143C13.2409 19.7143 12.8572 19.3305 12.8572 18.8571V17.9999H11.1431V18.8571C11.1431 19.3305 10.7591 19.7143 10.2859 19.7143C9.8124 19.7143 9.42866 19.3305 9.42866 18.8571V17.9999H6.85733C6.38387 17.9999 6.00013 17.6161 6.00013 17.1429C6.00013 16.6695 6.38387 16.2857 6.85733 16.2857H7.71427V7.71427H6.85733C6.38387 7.71427 6.00013 7.33053 6.00013 6.85707C6.00013 6.38361 6.38387 5.99987 6.85733 5.99987H9.42866V5.14293C9.42866 4.66947 9.8124 4.28573 10.2859 4.28573C10.7593 4.28573 11.1431 4.66947 11.1431 5.14293V5.99987H12.8572V5.14293C12.8572 4.66947 13.2409 4.28573 13.7144 4.28573C14.1879 4.28573 14.5716 4.66947 14.5716 5.14293V5.99987C16.4571 5.99202 17.992 7.5139 18.0001 9.39937C18.0043 10.3978 17.5714 11.3481 16.8152 12C17.5643 12.6445 17.9967 13.5828 18.0001 14.5713Z"
																					fill="#FFAB2D" />
																			</svg>
																		</span>
																		Bitcoin
																	</div>
																</td>
																<td class="font-w500">
																	06:24:45 AM
																</td>
																<td class="font-w600 text-center">
																	+₹5,553
																</td>
																<td>
																	<a class="btn-link text-success float-right"
																		href="javascript:void(0);">Completed</a>
																</td>
															</tr>
															<tr>
																<td>
																	<span class="bgl-danger p-3 d-inline-block">
																		<svg width="29" height="29" viewBox="0 0 29 29"
																			fill="none"
																			xmlns="http://www.w3.org/2000/svg">
																			<path
																				d="M5.13185 13.9043L5.13185 13.9043L5.11515 6.99607C5.11511 6.99224 5.11513 6.98868 5.11517 6.98542M5.13185 13.9043L5.61517 6.99089L5.11517 6.99005C5.11519 6.97692 5.11575 6.96665 5.116 6.96234L5.11608 6.96082C5.11588 6.96411 5.11535 6.97298 5.11519 6.98431C5.11518 6.98468 5.11517 6.98505 5.11517 6.98542M5.13185 13.9043C5.13378 14.6982 5.77881 15.3403 6.57281 15.3384C7.36672 15.3365 8.00877 14.6914 8.00689 13.8975L8.00689 13.8975L7.99856 10.4687M5.13185 13.9043L7.99856 10.4687M5.11517 6.98542C5.11755 6.19684 5.75739 5.55451 6.54875 5.55238C6.55044 5.55236 6.5522 5.55235 6.554 5.55234L6.55606 5.55234L6.57321 5.55239L13.4671 5.56905L13.4658 6.06905L13.4671 5.56905C14.2608 5.57098 14.903 6.21593 14.9011 7.01004C14.8992 7.80394 14.2541 8.44597 13.4602 8.44409L13.4602 8.4441L10.0315 8.43582L23.2141 21.6184C23.7755 22.1798 23.7755 23.0899 23.2141 23.6513C22.6527 24.2127 21.7426 24.2127 21.1812 23.6513L7.99856 10.4687M5.11517 6.98542C5.11516 6.98743 5.11517 6.98943 5.11517 6.99144L7.99856 10.4687M6.5541 5.55237C6.55474 5.55237 6.5554 5.55237 6.55606 5.55238L6.5541 5.55237Z"
																				fill="#FF2E2E" stroke="#FF2E2E" />
																		</svg>
																	</span>
																</td>
																<td>
																	<div class="font-w600 wspace-no">
																		<span class="mr-1">
																			<svg width="24" height="24"
																				viewBox="0 0 24 24" fill="none"
																				xmlns="http://www.w3.org/2000/svg">
																				<path
																					d="M12.3181 13.6532C12.1138 13.7348 11.8862 13.7348 11.6819 13.6532L9.48938 12.7761L12 17.7974L14.5107 12.7761L12.3181 13.6532Z"
																					fill="#DC3CCC" />
																				<path
																					d="M12 11.9341L15.0155 10.7279L12 5.90306L8.9845 10.7279L12 11.9341Z"
																					fill="#DC3CCC" />
																				<path
																					d="M12 0C5.3726 0 0 5.3726 0 12C0 18.6274 5.3726 24 12 24C18.6274 24 24 18.6274 24 12C23.9927 5.37574 18.6243 0.00732425 12 0ZM17.0524 11.5263L12.7667 20.0977C12.5551 20.5212 12.04 20.6928 11.6168 20.4812C11.4507 20.3983 11.3162 20.2638 11.2333 20.0977L6.94757 11.5263C6.81443 11.2589 6.8296 10.9416 6.9876 10.6882L11.2733 3.83111C11.5582 3.42984 12.114 3.33515 12.5153 3.62001C12.5972 3.67808 12.6686 3.74923 12.7267 3.83111L17.0121 10.6882C17.1704 10.9416 17.1856 11.2589 17.0524 11.5263Z"
																					fill="#DC3CCC" />
																			</svg>
																		</span>
																		Ethereum
																	</div>
																</td>
																<td class="font-w500">
																	06:24:45 AM
																</td>
																<td class="font-w600 text-center">
																	-₹542
																</td>
																<td>
																	<a class="btn-link text-dark float-right"
																		href="javascript:void(0);">Pending</a>
																</td>
															</tr>
															<tr>
																<td>
																	<span class="bgl-danger p-3 d-inline-block">
																		<svg width="29" height="29" viewBox="0 0 29 29"
																			fill="none"
																			xmlns="http://www.w3.org/2000/svg">
																			<path
																				d="M5.13185 13.9043L5.13185 13.9043L5.11515 6.99607C5.11511 6.99224 5.11513 6.98868 5.11517 6.98542M5.13185 13.9043L5.61517 6.99089L5.11517 6.99005C5.11519 6.97692 5.11575 6.96665 5.116 6.96234L5.11608 6.96082C5.11588 6.96411 5.11535 6.97298 5.11519 6.98431C5.11518 6.98468 5.11517 6.98505 5.11517 6.98542M5.13185 13.9043C5.13378 14.6982 5.77881 15.3403 6.57281 15.3384C7.36672 15.3365 8.00877 14.6914 8.00689 13.8975L8.00689 13.8975L7.99856 10.4687M5.13185 13.9043L7.99856 10.4687M5.11517 6.98542C5.11755 6.19684 5.75739 5.55451 6.54875 5.55238C6.55044 5.55236 6.5522 5.55235 6.554 5.55234L6.55606 5.55234L6.57321 5.55239L13.4671 5.56905L13.4658 6.06905L13.4671 5.56905C14.2608 5.57098 14.903 6.21593 14.9011 7.01004C14.8992 7.80394 14.2541 8.44597 13.4602 8.44409L13.4602 8.4441L10.0315 8.43582L23.2141 21.6184C23.7755 22.1798 23.7755 23.0899 23.2141 23.6513C22.6527 24.2127 21.7426 24.2127 21.1812 23.6513L7.99856 10.4687M5.11517 6.98542C5.11516 6.98743 5.11517 6.98943 5.11517 6.99144L7.99856 10.4687M6.5541 5.55237C6.55474 5.55237 6.5554 5.55237 6.55606 5.55238L6.5541 5.55237Z"
																				fill="#FF2E2E" stroke="#FF2E2E" />
																		</svg>
																	</span>
																</td>
																<td>
																	<div class="font-w600 wspace-no">
																		<span class="mr-1">
																			<svg width="24" height="24"
																				viewBox="0 0 24 24" fill="none"
																				xmlns="http://www.w3.org/2000/svg">
																				<path
																					d="M12 0C5.3726 0 0 5.3726 0 12C0 18.6274 5.3726 24 12 24C18.6274 24 24 18.6274 24 12C23.9924 5.37574 18.6243 0.00758581 12 0ZM17.8879 10.6801C17.4417 11.0743 16.9263 11.3824 16.3679 11.5885C15.9726 11.7164 15.6111 11.9312 15.3098 12.2174C14.9098 13.1698 15.1554 14.2713 15.9227 14.9637C15.9488 14.9899 15.9734 15.0179 15.9962 15.0474C16.9614 16.2842 16.8633 18.0438 15.7668 19.1657C14.5528 20.3776 12.5865 20.3776 11.3722 19.1657C10.6039 18.2437 10.3528 16.9962 10.7044 15.8486C10.7894 15.1855 10.5626 14.5201 10.0899 14.0471C9.62093 13.5951 8.97064 13.383 8.32532 13.4711C7.17777 13.8222 5.93055 13.5703 5.009 12.8017C3.79553 11.5898 3.79448 9.6238 5.00639 8.41059C5.00717 8.40955 5.00822 8.40876 5.009 8.40798C6.1304 7.31065 7.89083 7.21256 9.12732 8.17857C9.99289 9.03394 11.2752 9.32194 11.9566 8.86339C12.2438 8.56283 12.4588 8.20107 12.5859 7.8053C12.7921 7.24735 13.0997 6.73256 13.4934 6.28682C14.7068 5.07335 16.6739 5.07335 17.8874 6.28656C19.1011 7.50003 19.1011 9.46712 17.8879 10.6806V10.6801Z"
																					fill="#2B98D6" />
																				<path
																					d="M14.6784 7.39816C14.4502 7.69123 14.2697 8.01851 14.1441 8.368C13.9151 9.05703 13.4924 9.66563 12.9269 10.1211C11.3324 10.9773 9.36089 10.6462 8.13349 9.31614C7.59153 8.95261 6.86908 9.01592 6.39859 9.4683C5.8676 9.99853 5.86709 10.8591 6.39732 11.3901C6.39783 11.3904 6.39808 11.3909 6.39859 11.3911C6.71872 11.71 7.17465 11.7605 8.1483 11.5823C8.34563 11.5466 8.54577 11.5285 8.74643 11.5285C9.72186 11.5443 10.6549 11.9298 11.3572 12.6068C12.2081 13.4577 12.6027 14.6632 12.4194 15.8526C12.2382 16.8239 12.2887 17.2814 12.6091 17.6023C13.1404 18.1326 14.0007 18.1326 14.5319 17.6023C14.9909 17.1119 15.0363 16.3647 14.6399 15.8224C13.3436 14.5927 13.0316 12.6469 13.8786 11.0736C14.3341 10.5083 14.9426 10.0861 15.6317 9.85787C15.9816 9.73175 16.3092 9.55024 16.602 9.32048C17.1327 8.78948 17.1327 7.92865 16.6017 7.3979C16.0705 6.86715 15.2099 6.86741 14.6792 7.39841L14.6784 7.39816Z"
																					fill="#2B98D6" />
																			</svg>
																		</span>
																		Ripple
																	</div>
																</td>
																<td class="font-w500">
																	06:24:45 AM
																</td>
																<td class="font-w600 text-center">
																	-₹912
																</td>
																<td>
																	<a class="btn-link text-danger float-right"
																		href="javascript:void(0);">Canceled</a>
																</td>
															</tr>
															<tr>
																<td>
																	<span class="bgl-success p-3 d-inline-block">
																		<svg width="29" height="29" viewBox="0 0 29 29"
																			fill="none"
																			xmlns="http://www.w3.org/2000/svg">
																			<path
																				d="M23.6186 15.7207L23.6186 15.7207L23.6353 22.6289C23.6354 22.6328 23.6354 22.6363 23.6353 22.6396M23.6186 15.7207L23.1353 22.6341L23.6353 22.635C23.6353 22.6481 23.6347 22.6583 23.6345 22.6627L23.6344 22.6642C23.6346 22.6609 23.6351 22.652 23.6353 22.6407C23.6353 22.6403 23.6353 22.64 23.6353 22.6396M23.6186 15.7207C23.6167 14.9268 22.9717 14.2847 22.1777 14.2866C21.3838 14.2885 20.7417 14.9336 20.7436 15.7275L20.7436 15.7275L20.7519 19.1563M23.6186 15.7207L20.7519 19.1563M23.6353 22.6396C23.6329 23.4282 22.9931 24.0705 22.2017 24.0726C22.2 24.0726 22.1983 24.0727 22.1965 24.0727L22.1944 24.0727L22.1773 24.0726L15.2834 24.056L15.2846 23.556L15.2834 24.056C14.4897 24.054 13.8474 23.4091 13.8494 22.615C13.8513 21.8211 14.4964 21.179 15.2903 21.1809L15.2903 21.1809L18.719 21.1892L5.53639 8.0066C4.975 7.44521 4.975 6.53505 5.53639 5.97367C6.09778 5.41228 7.00793 5.41228 7.56932 5.97367L20.7519 19.1563M23.6353 22.6396C23.6353 22.6376 23.6353 22.6356 23.6353 22.6336L20.7519 19.1563M22.1964 24.0726C22.1957 24.0726 22.1951 24.0726 22.1944 24.0726L22.1964 24.0726Z"
																				fill="#2BC155" stroke="#2BC155" />
																		</svg>
																	</span>
																</td>
																<td>
																	<div class="font-w600 wspace-no">
																		<span class="mr-1">
																			<svg width="24" height="24"
																				viewBox="0 0 24 24" fill="none"
																				xmlns="http://www.w3.org/2000/svg">
																				<path
																					d="M12 0C5.3726 0 0 5.3726 0 12C0 18.6274 5.3726 24 12 24C18.6274 24 24 18.6274 24 12C23.9924 5.37574 18.6243 0.00758581 12 0ZM16.2857 18.0001H9.42866C8.9552 18.0001 8.57147 17.6164 8.57147 17.1429C8.57147 17.1024 8.57434 17.0618 8.5801 17.0216L9.22515 12.5054L7.92222 12.8313C7.85421 12.8486 7.78437 12.8572 7.71427 12.8572C7.24081 12.8567 6.85759 12.4727 6.85785 11.9992C6.85838 11.6063 7.12571 11.2642 7.50683 11.1684L9.48674 10.6735L10.2942 5.0213C10.3612 4.55254 10.7954 4.22714 11.2642 4.2941C11.7329 4.36107 12.0583 4.79529 11.9914 5.26404L11.2825 10.2247L14.3636 9.4543C14.8222 9.33737 15.2886 9.61439 15.4053 10.0729C15.5222 10.5315 15.2452 10.9979 14.7866 11.1148C14.784 11.1153 14.7814 11.1161 14.7788 11.1166L11.0204 12.0562L10.4164 16.2857H16.2857C16.7592 16.2857 17.1429 16.6695 17.1429 17.1429C17.1429 17.6161 16.7592 18.0001 16.2857 18.0001Z"
																					fill="#5F5F5F" />
																			</svg>
																		</span>
																		Litecoin
																	</div>
																</td>
																<td class="font-w500">
																	06:24:45 AM
																</td>
																<td class="font-w600 text-center">
																	+₹7,762
																</td>
																<td>
																	<a class="btn-link text-success float-right"
																		href="javascript:void(0);">Completed</a>
																</td>
															</tr>
															<tr>
																<td>
																	<span class="bgl-success p-3 d-inline-block">
																		<svg width="29" height="29" viewBox="0 0 29 29"
																			fill="none"
																			xmlns="http://www.w3.org/2000/svg">
																			<path
																				d="M23.6186 15.7207L23.6186 15.7207L23.6353 22.6289C23.6354 22.6328 23.6354 22.6363 23.6353 22.6396M23.6186 15.7207L23.1353 22.6341L23.6353 22.635C23.6353 22.6481 23.6347 22.6583 23.6345 22.6627L23.6344 22.6642C23.6346 22.6609 23.6351 22.652 23.6353 22.6407C23.6353 22.6403 23.6353 22.64 23.6353 22.6396M23.6186 15.7207C23.6167 14.9268 22.9717 14.2847 22.1777 14.2866C21.3838 14.2885 20.7417 14.9336 20.7436 15.7275L20.7436 15.7275L20.7519 19.1563M23.6186 15.7207L20.7519 19.1563M23.6353 22.6396C23.6329 23.4282 22.9931 24.0705 22.2017 24.0726C22.2 24.0726 22.1983 24.0727 22.1965 24.0727L22.1944 24.0727L22.1773 24.0726L15.2834 24.056L15.2846 23.556L15.2834 24.056C14.4897 24.054 13.8474 23.4091 13.8494 22.615C13.8513 21.8211 14.4964 21.179 15.2903 21.1809L15.2903 21.1809L18.719 21.1892L5.53639 8.0066C4.975 7.44521 4.975 6.53505 5.53639 5.97367C6.09778 5.41228 7.00793 5.41228 7.56932 5.97367L20.7519 19.1563M23.6353 22.6396C23.6353 22.6376 23.6353 22.6356 23.6353 22.6336L20.7519 19.1563M22.1964 24.0726C22.1957 24.0726 22.1951 24.0726 22.1944 24.0726L22.1964 24.0726Z"
																				fill="#2BC155" stroke="#2BC155" />
																		</svg>
																	</span>
																</td>
																<td>
																	<div class="font-w600 wspace-no">
																		<span class="mr-1">
																			<svg width="24" height="24"
																				viewBox="0 0 24 24" fill="none"
																				xmlns="http://www.w3.org/2000/svg">
																				<path
																					d="M16 9.50011C15.9992 8.67201 15.216 8.00092 14.2501 8H9V11H14.2501C15.216 10.9993 15.9992 10.328 16 9.50011Z"
																					fill="#FFAB2D" />
																				<path
																					d="M9 16H14.2501C15.2165 16 16 15.3285 16 14.5001C16 13.6715 15.2165 13 14.2501 13H9V16Z"
																					fill="#FFAB2D" />
																				<path
																					d="M12 0C5.3726 0 0 5.3726 0 12C0 18.6274 5.3726 24 12 24C18.6274 24 24 18.6274 24 12C23.9924 5.37574 18.6243 0.00758581 12 0ZM18.0001 14.5713C17.9978 16.4641 16.4641 17.9978 14.5716 17.9999V18.8571C14.5716 19.3305 14.1876 19.7143 13.7144 19.7143C13.2409 19.7143 12.8572 19.3305 12.8572 18.8571V17.9999H11.1431V18.8571C11.1431 19.3305 10.7591 19.7143 10.2859 19.7143C9.8124 19.7143 9.42866 19.3305 9.42866 18.8571V17.9999H6.85733C6.38387 17.9999 6.00013 17.6161 6.00013 17.1429C6.00013 16.6695 6.38387 16.2857 6.85733 16.2857H7.71427V7.71427H6.85733C6.38387 7.71427 6.00013 7.33053 6.00013 6.85707C6.00013 6.38361 6.38387 5.99987 6.85733 5.99987H9.42866V5.14293C9.42866 4.66947 9.8124 4.28573 10.2859 4.28573C10.7593 4.28573 11.1431 4.66947 11.1431 5.14293V5.99987H12.8572V5.14293C12.8572 4.66947 13.2409 4.28573 13.7144 4.28573C14.1879 4.28573 14.5716 4.66947 14.5716 5.14293V5.99987C16.4571 5.99202 17.992 7.5139 18.0001 9.39937C18.0043 10.3978 17.5714 11.3481 16.8152 12C17.5643 12.6445 17.9967 13.5828 18.0001 14.5713Z"
																					fill="#FFAB2D" />
																			</svg>
																		</span>
																		Bitcoin
																	</div>
																</td>
																<td class="font-w500">
																	06:24:45 AM
																</td>
																<td class="font-w600 text-center">
																	+₹5,553
																</td>
																<td>
																	<a class="btn-link text-success float-right"
																		href="javascript:void(0);">Completed</a>
																</td>
															</tr>
															<tr>
																<td>
																	<span class="bgl-danger p-3 d-inline-block">
																		<svg width="29" height="29" viewBox="0 0 29 29"
																			fill="none"
																			xmlns="http://www.w3.org/2000/svg">
																			<path
																				d="M5.13185 13.9043L5.13185 13.9043L5.11515 6.99607C5.11511 6.99224 5.11513 6.98868 5.11517 6.98542M5.13185 13.9043L5.61517 6.99089L5.11517 6.99005C5.11519 6.97692 5.11575 6.96665 5.116 6.96234L5.11608 6.96082C5.11588 6.96411 5.11535 6.97298 5.11519 6.98431C5.11518 6.98468 5.11517 6.98505 5.11517 6.98542M5.13185 13.9043C5.13378 14.6982 5.77881 15.3403 6.57281 15.3384C7.36672 15.3365 8.00877 14.6914 8.00689 13.8975L8.00689 13.8975L7.99856 10.4687M5.13185 13.9043L7.99856 10.4687M5.11517 6.98542C5.11755 6.19684 5.75739 5.55451 6.54875 5.55238C6.55044 5.55236 6.5522 5.55235 6.554 5.55234L6.55606 5.55234L6.57321 5.55239L13.4671 5.56905L13.4658 6.06905L13.4671 5.56905C14.2608 5.57098 14.903 6.21593 14.9011 7.01004C14.8992 7.80394 14.2541 8.44597 13.4602 8.44409L13.4602 8.4441L10.0315 8.43582L23.2141 21.6184C23.7755 22.1798 23.7755 23.0899 23.2141 23.6513C22.6527 24.2127 21.7426 24.2127 21.1812 23.6513L7.99856 10.4687M5.11517 6.98542C5.11516 6.98743 5.11517 6.98943 5.11517 6.99144L7.99856 10.4687M6.5541 5.55237C6.55474 5.55237 6.5554 5.55237 6.55606 5.55238L6.5541 5.55237Z"
																				fill="#FF2E2E" stroke="#FF2E2E" />
																		</svg>
																	</span>
																</td>
																<td>
																	<div class="font-w600 wspace-no">
																		<span class="mr-1">
																			<svg width="24" height="24"
																				viewBox="0 0 24 24" fill="none"
																				xmlns="http://www.w3.org/2000/svg">
																				<path
																					d="M12 0C5.3726 0 0 5.3726 0 12C0 18.6274 5.3726 24 12 24C18.6274 24 24 18.6274 24 12C23.9924 5.37574 18.6243 0.00758581 12 0ZM17.8879 10.6801C17.4417 11.0743 16.9263 11.3824 16.3679 11.5885C15.9726 11.7164 15.6111 11.9312 15.3098 12.2174C14.9098 13.1698 15.1554 14.2713 15.9227 14.9637C15.9488 14.9899 15.9734 15.0179 15.9962 15.0474C16.9614 16.2842 16.8633 18.0438 15.7668 19.1657C14.5528 20.3776 12.5865 20.3776 11.3722 19.1657C10.6039 18.2437 10.3528 16.9962 10.7044 15.8486C10.7894 15.1855 10.5626 14.5201 10.0899 14.0471C9.62093 13.5951 8.97064 13.383 8.32532 13.4711C7.17777 13.8222 5.93055 13.5703 5.009 12.8017C3.79553 11.5898 3.79448 9.6238 5.00639 8.41059C5.00717 8.40955 5.00822 8.40876 5.009 8.40798C6.1304 7.31065 7.89083 7.21256 9.12732 8.17857C9.99289 9.03394 11.2752 9.32194 11.9566 8.86339C12.2438 8.56283 12.4588 8.20107 12.5859 7.8053C12.7921 7.24735 13.0997 6.73256 13.4934 6.28682C14.7068 5.07335 16.6739 5.07335 17.8874 6.28656C19.1011 7.50003 19.1011 9.46712 17.8879 10.6806V10.6801Z"
																					fill="#2B98D6" />
																				<path
																					d="M14.6784 7.39816C14.4502 7.69123 14.2697 8.01851 14.1441 8.368C13.9151 9.05703 13.4924 9.66563 12.9269 10.1211C11.3324 10.9773 9.36089 10.6462 8.13349 9.31614C7.59153 8.95261 6.86908 9.01592 6.39859 9.4683C5.8676 9.99853 5.86709 10.8591 6.39732 11.3901C6.39783 11.3904 6.39808 11.3909 6.39859 11.3911C6.71872 11.71 7.17465 11.7605 8.1483 11.5823C8.34563 11.5466 8.54577 11.5285 8.74643 11.5285C9.72186 11.5443 10.6549 11.9298 11.3572 12.6068C12.2081 13.4577 12.6027 14.6632 12.4194 15.8526C12.2382 16.8239 12.2887 17.2814 12.6091 17.6023C13.1404 18.1326 14.0007 18.1326 14.5319 17.6023C14.9909 17.1119 15.0363 16.3647 14.6399 15.8224C13.3436 14.5927 13.0316 12.6469 13.8786 11.0736C14.3341 10.5083 14.9426 10.0861 15.6317 9.85787C15.9816 9.73175 16.3092 9.55024 16.602 9.32048C17.1327 8.78948 17.1327 7.92865 16.6017 7.3979C16.0705 6.86715 15.2099 6.86741 14.6792 7.39841L14.6784 7.39816Z"
																					fill="#2B98D6" />
																			</svg>
																		</span>
																		Ripple
																	</div>
																</td>
																<td class="font-w500">
																	06:24:45 AM
																</td>
																<td class="font-w600 text-center">
																	-₹912
																</td>
																<td>
																	<a class="btn-link text-danger float-right"
																		href="javascript:void(0);">Canceled</a>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="tab-pane" id="Weekly" role="tabpanel">
												<div class="table-responsive">
													<table class="table shadow-hover card-table">
														<tbody>
															<tr>
																<td>
																	<span class="bgl-success p-3 d-inline-block">
																		<svg width="29" height="29" viewBox="0 0 29 29"
																			fill="none"
																			xmlns="http://www.w3.org/2000/svg">
																			<path
																				d="M23.6186 15.7207L23.6186 15.7207L23.6353 22.6289C23.6354 22.6328 23.6354 22.6363 23.6353 22.6396M23.6186 15.7207L23.1353 22.6341L23.6353 22.635C23.6353 22.6481 23.6347 22.6583 23.6345 22.6627L23.6344 22.6642C23.6346 22.6609 23.6351 22.652 23.6353 22.6407C23.6353 22.6403 23.6353 22.64 23.6353 22.6396M23.6186 15.7207C23.6167 14.9268 22.9717 14.2847 22.1777 14.2866C21.3838 14.2885 20.7417 14.9336 20.7436 15.7275L20.7436 15.7275L20.7519 19.1563M23.6186 15.7207L20.7519 19.1563M23.6353 22.6396C23.6329 23.4282 22.9931 24.0705 22.2017 24.0726C22.2 24.0726 22.1983 24.0727 22.1965 24.0727L22.1944 24.0727L22.1773 24.0726L15.2834 24.056L15.2846 23.556L15.2834 24.056C14.4897 24.054 13.8474 23.4091 13.8494 22.615C13.8513 21.8211 14.4964 21.179 15.2903 21.1809L15.2903 21.1809L18.719 21.1892L5.53639 8.0066C4.975 7.44521 4.975 6.53505 5.53639 5.97367C6.09778 5.41228 7.00793 5.41228 7.56932 5.97367L20.7519 19.1563M23.6353 22.6396C23.6353 22.6376 23.6353 22.6356 23.6353 22.6336L20.7519 19.1563M22.1964 24.0726C22.1957 24.0726 22.1951 24.0726 22.1944 24.0726L22.1964 24.0726Z"
																				fill="#2BC155" stroke="#2BC155" />
																		</svg>
																	</span>
																</td>
																<td>
																	<div class="font-w600">
																		<span class="mr-1">
																			<svg width="24" height="24"
																				viewBox="0 0 24 24" fill="none"
																				xmlns="http://www.w3.org/2000/svg">
																				<path
																					d="M16 9.50011C15.9992 8.67201 15.216 8.00092 14.2501 8H9V11H14.2501C15.216 10.9993 15.9992 10.328 16 9.50011Z"
																					fill="#FFAB2D" />
																				<path
																					d="M9 16H14.2501C15.2165 16 16 15.3285 16 14.5001C16 13.6715 15.2165 13 14.2501 13H9V16Z"
																					fill="#FFAB2D" />
																				<path
																					d="M12 0C5.3726 0 0 5.3726 0 12C0 18.6274 5.3726 24 12 24C18.6274 24 24 18.6274 24 12C23.9924 5.37574 18.6243 0.00758581 12 0ZM18.0001 14.5713C17.9978 16.4641 16.4641 17.9978 14.5716 17.9999V18.8571C14.5716 19.3305 14.1876 19.7143 13.7144 19.7143C13.2409 19.7143 12.8572 19.3305 12.8572 18.8571V17.9999H11.1431V18.8571C11.1431 19.3305 10.7591 19.7143 10.2859 19.7143C9.8124 19.7143 9.42866 19.3305 9.42866 18.8571V17.9999H6.85733C6.38387 17.9999 6.00013 17.6161 6.00013 17.1429C6.00013 16.6695 6.38387 16.2857 6.85733 16.2857H7.71427V7.71427H6.85733C6.38387 7.71427 6.00013 7.33053 6.00013 6.85707C6.00013 6.38361 6.38387 5.99987 6.85733 5.99987H9.42866V5.14293C9.42866 4.66947 9.8124 4.28573 10.2859 4.28573C10.7593 4.28573 11.1431 4.66947 11.1431 5.14293V5.99987H12.8572V5.14293C12.8572 4.66947 13.2409 4.28573 13.7144 4.28573C14.1879 4.28573 14.5716 4.66947 14.5716 5.14293V5.99987C16.4571 5.99202 17.992 7.5139 18.0001 9.39937C18.0043 10.3978 17.5714 11.3481 16.8152 12C17.5643 12.6445 17.9967 13.5828 18.0001 14.5713Z"
																					fill="#FFAB2D" />
																			</svg>
																		</span>
																		Bitcoin
																	</div>
																</td>
																<td class="font-w500">
																	06:24:45 AM
																</td>
																<td class="font-w600 text-center">
																	+₹5,553
																</td>
																<td>
																	<a class="btn-link text-success float-right"
																		href="#">Completed</a>
																</td>
															</tr>
															<tr>
																<td>
																	<span class="bgl-danger p-3 d-inline-block">
																		<svg width="29" height="29" viewBox="0 0 29 29"
																			fill="none"
																			xmlns="http://www.w3.org/2000/svg">
																			<path
																				d="M5.13185 13.9043L5.13185 13.9043L5.11515 6.99607C5.11511 6.99224 5.11513 6.98868 5.11517 6.98542M5.13185 13.9043L5.61517 6.99089L5.11517 6.99005C5.11519 6.97692 5.11575 6.96665 5.116 6.96234L5.11608 6.96082C5.11588 6.96411 5.11535 6.97298 5.11519 6.98431C5.11518 6.98468 5.11517 6.98505 5.11517 6.98542M5.13185 13.9043C5.13378 14.6982 5.77881 15.3403 6.57281 15.3384C7.36672 15.3365 8.00877 14.6914 8.00689 13.8975L8.00689 13.8975L7.99856 10.4687M5.13185 13.9043L7.99856 10.4687M5.11517 6.98542C5.11755 6.19684 5.75739 5.55451 6.54875 5.55238C6.55044 5.55236 6.5522 5.55235 6.554 5.55234L6.55606 5.55234L6.57321 5.55239L13.4671 5.56905L13.4658 6.06905L13.4671 5.56905C14.2608 5.57098 14.903 6.21593 14.9011 7.01004C14.8992 7.80394 14.2541 8.44597 13.4602 8.44409L13.4602 8.4441L10.0315 8.43582L23.2141 21.6184C23.7755 22.1798 23.7755 23.0899 23.2141 23.6513C22.6527 24.2127 21.7426 24.2127 21.1812 23.6513L7.99856 10.4687M5.11517 6.98542C5.11516 6.98743 5.11517 6.98943 5.11517 6.99144L7.99856 10.4687M6.5541 5.55237C6.55474 5.55237 6.5554 5.55237 6.55606 5.55238L6.5541 5.55237Z"
																				fill="#FF2E2E" stroke="#FF2E2E" />
																		</svg>
																	</span>
																</td>
																<td>
																	<div class="font-w600">
																		<span class="mr-1">
																			<svg width="24" height="24"
																				viewBox="0 0 24 24" fill="none"
																				xmlns="http://www.w3.org/2000/svg">
																				<path
																					d="M12.3181 13.6532C12.1138 13.7348 11.8862 13.7348 11.6819 13.6532L9.48938 12.7761L12 17.7974L14.5107 12.7761L12.3181 13.6532Z"
																					fill="#DC3CCC" />
																				<path
																					d="M12 11.9341L15.0155 10.7279L12 5.90306L8.9845 10.7279L12 11.9341Z"
																					fill="#DC3CCC" />
																				<path
																					d="M12 0C5.3726 0 0 5.3726 0 12C0 18.6274 5.3726 24 12 24C18.6274 24 24 18.6274 24 12C23.9927 5.37574 18.6243 0.00732425 12 0ZM17.0524 11.5263L12.7667 20.0977C12.5551 20.5212 12.04 20.6928 11.6168 20.4812C11.4507 20.3983 11.3162 20.2638 11.2333 20.0977L6.94757 11.5263C6.81443 11.2589 6.8296 10.9416 6.9876 10.6882L11.2733 3.83111C11.5582 3.42984 12.114 3.33515 12.5153 3.62001C12.5972 3.67808 12.6686 3.74923 12.7267 3.83111L17.0121 10.6882C17.1704 10.9416 17.1856 11.2589 17.0524 11.5263Z"
																					fill="#DC3CCC" />
																			</svg>
																		</span>
																		Ethereum
																	</div>
																</td>
																<td class="font-w500">
																	06:24:45 AM
																</td>
																<td class="font-w600 text-center">
																	-₹542
																</td>
																<td>
																	<a class="btn-link text-dark float-right"
																		href="#">Pending</a>
																</td>
															</tr>
															<tr>
																<td>
																	<span class="bgl-danger p-3 d-inline-block">
																		<svg width="29" height="29" viewBox="0 0 29 29"
																			fill="none"
																			xmlns="http://www.w3.org/2000/svg">
																			<path
																				d="M5.13185 13.9043L5.13185 13.9043L5.11515 6.99607C5.11511 6.99224 5.11513 6.98868 5.11517 6.98542M5.13185 13.9043L5.61517 6.99089L5.11517 6.99005C5.11519 6.97692 5.11575 6.96665 5.116 6.96234L5.11608 6.96082C5.11588 6.96411 5.11535 6.97298 5.11519 6.98431C5.11518 6.98468 5.11517 6.98505 5.11517 6.98542M5.13185 13.9043C5.13378 14.6982 5.77881 15.3403 6.57281 15.3384C7.36672 15.3365 8.00877 14.6914 8.00689 13.8975L8.00689 13.8975L7.99856 10.4687M5.13185 13.9043L7.99856 10.4687M5.11517 6.98542C5.11755 6.19684 5.75739 5.55451 6.54875 5.55238C6.55044 5.55236 6.5522 5.55235 6.554 5.55234L6.55606 5.55234L6.57321 5.55239L13.4671 5.56905L13.4658 6.06905L13.4671 5.56905C14.2608 5.57098 14.903 6.21593 14.9011 7.01004C14.8992 7.80394 14.2541 8.44597 13.4602 8.44409L13.4602 8.4441L10.0315 8.43582L23.2141 21.6184C23.7755 22.1798 23.7755 23.0899 23.2141 23.6513C22.6527 24.2127 21.7426 24.2127 21.1812 23.6513L7.99856 10.4687M5.11517 6.98542C5.11516 6.98743 5.11517 6.98943 5.11517 6.99144L7.99856 10.4687M6.5541 5.55237C6.55474 5.55237 6.5554 5.55237 6.55606 5.55238L6.5541 5.55237Z"
																				fill="#FF2E2E" stroke="#FF2E2E" />
																		</svg>
																	</span>
																</td>
																<td>
																	<div class="font-w600">
																		<span class="mr-1">
																			<svg width="24" height="24"
																				viewBox="0 0 24 24" fill="none"
																				xmlns="http://www.w3.org/2000/svg">
																				<path
																					d="M12 0C5.3726 0 0 5.3726 0 12C0 18.6274 5.3726 24 12 24C18.6274 24 24 18.6274 24 12C23.9924 5.37574 18.6243 0.00758581 12 0ZM17.8879 10.6801C17.4417 11.0743 16.9263 11.3824 16.3679 11.5885C15.9726 11.7164 15.6111 11.9312 15.3098 12.2174C14.9098 13.1698 15.1554 14.2713 15.9227 14.9637C15.9488 14.9899 15.9734 15.0179 15.9962 15.0474C16.9614 16.2842 16.8633 18.0438 15.7668 19.1657C14.5528 20.3776 12.5865 20.3776 11.3722 19.1657C10.6039 18.2437 10.3528 16.9962 10.7044 15.8486C10.7894 15.1855 10.5626 14.5201 10.0899 14.0471C9.62093 13.5951 8.97064 13.383 8.32532 13.4711C7.17777 13.8222 5.93055 13.5703 5.009 12.8017C3.79553 11.5898 3.79448 9.6238 5.00639 8.41059C5.00717 8.40955 5.00822 8.40876 5.009 8.40798C6.1304 7.31065 7.89083 7.21256 9.12732 8.17857C9.99289 9.03394 11.2752 9.32194 11.9566 8.86339C12.2438 8.56283 12.4588 8.20107 12.5859 7.8053C12.7921 7.24735 13.0997 6.73256 13.4934 6.28682C14.7068 5.07335 16.6739 5.07335 17.8874 6.28656C19.1011 7.50003 19.1011 9.46712 17.8879 10.6806V10.6801Z"
																					fill="#2B98D6" />
																				<path
																					d="M14.6784 7.39816C14.4502 7.69123 14.2697 8.01851 14.1441 8.368C13.9151 9.05703 13.4924 9.66563 12.9269 10.1211C11.3324 10.9773 9.36089 10.6462 8.13349 9.31614C7.59153 8.95261 6.86908 9.01592 6.39859 9.4683C5.8676 9.99853 5.86709 10.8591 6.39732 11.3901C6.39783 11.3904 6.39808 11.3909 6.39859 11.3911C6.71872 11.71 7.17465 11.7605 8.1483 11.5823C8.34563 11.5466 8.54577 11.5285 8.74643 11.5285C9.72186 11.5443 10.6549 11.9298 11.3572 12.6068C12.2081 13.4577 12.6027 14.6632 12.4194 15.8526C12.2382 16.8239 12.2887 17.2814 12.6091 17.6023C13.1404 18.1326 14.0007 18.1326 14.5319 17.6023C14.9909 17.1119 15.0363 16.3647 14.6399 15.8224C13.3436 14.5927 13.0316 12.6469 13.8786 11.0736C14.3341 10.5083 14.9426 10.0861 15.6317 9.85787C15.9816 9.73175 16.3092 9.55024 16.602 9.32048C17.1327 8.78948 17.1327 7.92865 16.6017 7.3979C16.0705 6.86715 15.2099 6.86741 14.6792 7.39841L14.6784 7.39816Z"
																					fill="#2B98D6" />
																			</svg>
																		</span>
																		Ripple
																	</div>
																</td>
																<td class="font-w500">
																	06:24:45 AM
																</td>
																<td class="font-w600 text-center">
																	-₹912
																</td>
																<td>
																	<a class="btn-link text-danger float-right"
																		href="#">Canceled</a>
																</td>
															</tr>

															<tr>
																<td>
																	<span class="bgl-danger p-3 d-inline-block">
																		<svg width="29" height="29" viewBox="0 0 29 29"
																			fill="none"
																			xmlns="http://www.w3.org/2000/svg">
																			<path
																				d="M5.13185 13.9043L5.13185 13.9043L5.11515 6.99607C5.11511 6.99224 5.11513 6.98868 5.11517 6.98542M5.13185 13.9043L5.61517 6.99089L5.11517 6.99005C5.11519 6.97692 5.11575 6.96665 5.116 6.96234L5.11608 6.96082C5.11588 6.96411 5.11535 6.97298 5.11519 6.98431C5.11518 6.98468 5.11517 6.98505 5.11517 6.98542M5.13185 13.9043C5.13378 14.6982 5.77881 15.3403 6.57281 15.3384C7.36672 15.3365 8.00877 14.6914 8.00689 13.8975L8.00689 13.8975L7.99856 10.4687M5.13185 13.9043L7.99856 10.4687M5.11517 6.98542C5.11755 6.19684 5.75739 5.55451 6.54875 5.55238C6.55044 5.55236 6.5522 5.55235 6.554 5.55234L6.55606 5.55234L6.57321 5.55239L13.4671 5.56905L13.4658 6.06905L13.4671 5.56905C14.2608 5.57098 14.903 6.21593 14.9011 7.01004C14.8992 7.80394 14.2541 8.44597 13.4602 8.44409L13.4602 8.4441L10.0315 8.43582L23.2141 21.6184C23.7755 22.1798 23.7755 23.0899 23.2141 23.6513C22.6527 24.2127 21.7426 24.2127 21.1812 23.6513L7.99856 10.4687M5.11517 6.98542C5.11516 6.98743 5.11517 6.98943 5.11517 6.99144L7.99856 10.4687M6.5541 5.55237C6.55474 5.55237 6.5554 5.55237 6.55606 5.55238L6.5541 5.55237Z"
																				fill="#FF2E2E" stroke="#FF2E2E" />
																		</svg>
																	</span>
																</td>
																<td>
																	<div class="font-w600">
																		<span class="mr-1">
																			<svg width="24" height="24"
																				viewBox="0 0 24 24" fill="none"
																				xmlns="http://www.w3.org/2000/svg">
																				<path
																					d="M12 0C5.3726 0 0 5.3726 0 12C0 18.6274 5.3726 24 12 24C18.6274 24 24 18.6274 24 12C23.9924 5.37574 18.6243 0.00758581 12 0ZM17.8879 10.6801C17.4417 11.0743 16.9263 11.3824 16.3679 11.5885C15.9726 11.7164 15.6111 11.9312 15.3098 12.2174C14.9098 13.1698 15.1554 14.2713 15.9227 14.9637C15.9488 14.9899 15.9734 15.0179 15.9962 15.0474C16.9614 16.2842 16.8633 18.0438 15.7668 19.1657C14.5528 20.3776 12.5865 20.3776 11.3722 19.1657C10.6039 18.2437 10.3528 16.9962 10.7044 15.8486C10.7894 15.1855 10.5626 14.5201 10.0899 14.0471C9.62093 13.5951 8.97064 13.383 8.32532 13.4711C7.17777 13.8222 5.93055 13.5703 5.009 12.8017C3.79553 11.5898 3.79448 9.6238 5.00639 8.41059C5.00717 8.40955 5.00822 8.40876 5.009 8.40798C6.1304 7.31065 7.89083 7.21256 9.12732 8.17857C9.99289 9.03394 11.2752 9.32194 11.9566 8.86339C12.2438 8.56283 12.4588 8.20107 12.5859 7.8053C12.7921 7.24735 13.0997 6.73256 13.4934 6.28682C14.7068 5.07335 16.6739 5.07335 17.8874 6.28656C19.1011 7.50003 19.1011 9.46712 17.8879 10.6806V10.6801Z"
																					fill="#2B98D6" />
																				<path
																					d="M14.6784 7.39816C14.4502 7.69123 14.2697 8.01851 14.1441 8.368C13.9151 9.05703 13.4924 9.66563 12.9269 10.1211C11.3324 10.9773 9.36089 10.6462 8.13349 9.31614C7.59153 8.95261 6.86908 9.01592 6.39859 9.4683C5.8676 9.99853 5.86709 10.8591 6.39732 11.3901C6.39783 11.3904 6.39808 11.3909 6.39859 11.3911C6.71872 11.71 7.17465 11.7605 8.1483 11.5823C8.34563 11.5466 8.54577 11.5285 8.74643 11.5285C9.72186 11.5443 10.6549 11.9298 11.3572 12.6068C12.2081 13.4577 12.6027 14.6632 12.4194 15.8526C12.2382 16.8239 12.2887 17.2814 12.6091 17.6023C13.1404 18.1326 14.0007 18.1326 14.5319 17.6023C14.9909 17.1119 15.0363 16.3647 14.6399 15.8224C13.3436 14.5927 13.0316 12.6469 13.8786 11.0736C14.3341 10.5083 14.9426 10.0861 15.6317 9.85787C15.9816 9.73175 16.3092 9.55024 16.602 9.32048C17.1327 8.78948 17.1327 7.92865 16.6017 7.3979C16.0705 6.86715 15.2099 6.86741 14.6792 7.39841L14.6784 7.39816Z"
																					fill="#2B98D6" />
																			</svg>
																		</span>
																		Ripple
																	</div>
																</td>
																<td class="font-w500">
																	06:24:45 AM
																</td>
																<td class="font-w600 text-center">
																	-₹912
																</td>
																<td>
																	<a class="btn-link text-danger float-right"
																		href="#">Canceled</a>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="tab-pane" id="Today" role="tabpanel">
												<div class="table-responsive">
													<table class="table shadow-hover card-table">
														<tbody>
															<tr>
																<td>
																	<span class="bgl-success p-3 d-inline-block">
																		<svg width="29" height="29" viewBox="0 0 29 29"
																			fill="none"
																			xmlns="http://www.w3.org/2000/svg">
																			<path
																				d="M23.6186 15.7207L23.6186 15.7207L23.6353 22.6289C23.6354 22.6328 23.6354 22.6363 23.6353 22.6396M23.6186 15.7207L23.1353 22.6341L23.6353 22.635C23.6353 22.6481 23.6347 22.6583 23.6345 22.6627L23.6344 22.6642C23.6346 22.6609 23.6351 22.652 23.6353 22.6407C23.6353 22.6403 23.6353 22.64 23.6353 22.6396M23.6186 15.7207C23.6167 14.9268 22.9717 14.2847 22.1777 14.2866C21.3838 14.2885 20.7417 14.9336 20.7436 15.7275L20.7436 15.7275L20.7519 19.1563M23.6186 15.7207L20.7519 19.1563M23.6353 22.6396C23.6329 23.4282 22.9931 24.0705 22.2017 24.0726C22.2 24.0726 22.1983 24.0727 22.1965 24.0727L22.1944 24.0727L22.1773 24.0726L15.2834 24.056L15.2846 23.556L15.2834 24.056C14.4897 24.054 13.8474 23.4091 13.8494 22.615C13.8513 21.8211 14.4964 21.179 15.2903 21.1809L15.2903 21.1809L18.719 21.1892L5.53639 8.0066C4.975 7.44521 4.975 6.53505 5.53639 5.97367C6.09778 5.41228 7.00793 5.41228 7.56932 5.97367L20.7519 19.1563M23.6353 22.6396C23.6353 22.6376 23.6353 22.6356 23.6353 22.6336L20.7519 19.1563M22.1964 24.0726C22.1957 24.0726 22.1951 24.0726 22.1944 24.0726L22.1964 24.0726Z"
																				fill="#2BC155" stroke="#2BC155" />
																		</svg>
																	</span>
																</td>
																<td>
																	<div class="font-w600">
																		<span class="mr-1">
																			<svg width="24" height="24"
																				viewBox="0 0 24 24" fill="none"
																				xmlns="http://www.w3.org/2000/svg">
																				<path
																					d="M16 9.50011C15.9992 8.67201 15.216 8.00092 14.2501 8H9V11H14.2501C15.216 10.9993 15.9992 10.328 16 9.50011Z"
																					fill="#FFAB2D" />
																				<path
																					d="M9 16H14.2501C15.2165 16 16 15.3285 16 14.5001C16 13.6715 15.2165 13 14.2501 13H9V16Z"
																					fill="#FFAB2D" />
																				<path
																					d="M12 0C5.3726 0 0 5.3726 0 12C0 18.6274 5.3726 24 12 24C18.6274 24 24 18.6274 24 12C23.9924 5.37574 18.6243 0.00758581 12 0ZM18.0001 14.5713C17.9978 16.4641 16.4641 17.9978 14.5716 17.9999V18.8571C14.5716 19.3305 14.1876 19.7143 13.7144 19.7143C13.2409 19.7143 12.8572 19.3305 12.8572 18.8571V17.9999H11.1431V18.8571C11.1431 19.3305 10.7591 19.7143 10.2859 19.7143C9.8124 19.7143 9.42866 19.3305 9.42866 18.8571V17.9999H6.85733C6.38387 17.9999 6.00013 17.6161 6.00013 17.1429C6.00013 16.6695 6.38387 16.2857 6.85733 16.2857H7.71427V7.71427H6.85733C6.38387 7.71427 6.00013 7.33053 6.00013 6.85707C6.00013 6.38361 6.38387 5.99987 6.85733 5.99987H9.42866V5.14293C9.42866 4.66947 9.8124 4.28573 10.2859 4.28573C10.7593 4.28573 11.1431 4.66947 11.1431 5.14293V5.99987H12.8572V5.14293C12.8572 4.66947 13.2409 4.28573 13.7144 4.28573C14.1879 4.28573 14.5716 4.66947 14.5716 5.14293V5.99987C16.4571 5.99202 17.992 7.5139 18.0001 9.39937C18.0043 10.3978 17.5714 11.3481 16.8152 12C17.5643 12.6445 17.9967 13.5828 18.0001 14.5713Z"
																					fill="#FFAB2D" />
																			</svg>
																		</span>
																		Bitcoin
																	</div>
																</td>
																<td class="font-w500">
																	06:24:45 AM
																</td>
																<td class="font-w600 text-center">
																	+₹5,553
																</td>
																<td>
																	<a class="btn-link text-success float-right"
																		href="#">Completed</a>
																</td>
															</tr>
															<tr>
																<td>
																	<span class="bgl-danger p-3 d-inline-block">
																		<svg width="29" height="29" viewBox="0 0 29 29"
																			fill="none"
																			xmlns="http://www.w3.org/2000/svg">
																			<path
																				d="M5.13185 13.9043L5.13185 13.9043L5.11515 6.99607C5.11511 6.99224 5.11513 6.98868 5.11517 6.98542M5.13185 13.9043L5.61517 6.99089L5.11517 6.99005C5.11519 6.97692 5.11575 6.96665 5.116 6.96234L5.11608 6.96082C5.11588 6.96411 5.11535 6.97298 5.11519 6.98431C5.11518 6.98468 5.11517 6.98505 5.11517 6.98542M5.13185 13.9043C5.13378 14.6982 5.77881 15.3403 6.57281 15.3384C7.36672 15.3365 8.00877 14.6914 8.00689 13.8975L8.00689 13.8975L7.99856 10.4687M5.13185 13.9043L7.99856 10.4687M5.11517 6.98542C5.11755 6.19684 5.75739 5.55451 6.54875 5.55238C6.55044 5.55236 6.5522 5.55235 6.554 5.55234L6.55606 5.55234L6.57321 5.55239L13.4671 5.56905L13.4658 6.06905L13.4671 5.56905C14.2608 5.57098 14.903 6.21593 14.9011 7.01004C14.8992 7.80394 14.2541 8.44597 13.4602 8.44409L13.4602 8.4441L10.0315 8.43582L23.2141 21.6184C23.7755 22.1798 23.7755 23.0899 23.2141 23.6513C22.6527 24.2127 21.7426 24.2127 21.1812 23.6513L7.99856 10.4687M5.11517 6.98542C5.11516 6.98743 5.11517 6.98943 5.11517 6.99144L7.99856 10.4687M6.5541 5.55237C6.55474 5.55237 6.5554 5.55237 6.55606 5.55238L6.5541 5.55237Z"
																				fill="#FF2E2E" stroke="#FF2E2E" />
																		</svg>
																	</span>
																</td>
																<td>
																	<div class="font-w600">
																		<span class="mr-1">
																			<svg width="24" height="24"
																				viewBox="0 0 24 24" fill="none"
																				xmlns="http://www.w3.org/2000/svg">
																				<path
																					d="M12.3181 13.6532C12.1138 13.7348 11.8862 13.7348 11.6819 13.6532L9.48938 12.7761L12 17.7974L14.5107 12.7761L12.3181 13.6532Z"
																					fill="#DC3CCC" />
																				<path
																					d="M12 11.9341L15.0155 10.7279L12 5.90306L8.9845 10.7279L12 11.9341Z"
																					fill="#DC3CCC" />
																				<path
																					d="M12 0C5.3726 0 0 5.3726 0 12C0 18.6274 5.3726 24 12 24C18.6274 24 24 18.6274 24 12C23.9927 5.37574 18.6243 0.00732425 12 0ZM17.0524 11.5263L12.7667 20.0977C12.5551 20.5212 12.04 20.6928 11.6168 20.4812C11.4507 20.3983 11.3162 20.2638 11.2333 20.0977L6.94757 11.5263C6.81443 11.2589 6.8296 10.9416 6.9876 10.6882L11.2733 3.83111C11.5582 3.42984 12.114 3.33515 12.5153 3.62001C12.5972 3.67808 12.6686 3.74923 12.7267 3.83111L17.0121 10.6882C17.1704 10.9416 17.1856 11.2589 17.0524 11.5263Z"
																					fill="#DC3CCC" />
																			</svg>
																		</span>
																		Ethereum
																	</div>
																</td>
																<td class="font-w500">
																	06:24:45 AM
																</td>
																<td class="font-w600 text-center">
																	-₹542
																</td>
																<td>
																	<a class="btn-link text-dark float-right"
																		href="#">Pending</a>
																</td>
															</tr>
															<tr>
																<td>
																	<span class="bgl-danger p-3 d-inline-block">
																		<svg width="29" height="29" viewBox="0 0 29 29"
																			fill="none"
																			xmlns="http://www.w3.org/2000/svg">
																			<path
																				d="M5.13185 13.9043L5.13185 13.9043L5.11515 6.99607C5.11511 6.99224 5.11513 6.98868 5.11517 6.98542M5.13185 13.9043L5.61517 6.99089L5.11517 6.99005C5.11519 6.97692 5.11575 6.96665 5.116 6.96234L5.11608 6.96082C5.11588 6.96411 5.11535 6.97298 5.11519 6.98431C5.11518 6.98468 5.11517 6.98505 5.11517 6.98542M5.13185 13.9043C5.13378 14.6982 5.77881 15.3403 6.57281 15.3384C7.36672 15.3365 8.00877 14.6914 8.00689 13.8975L8.00689 13.8975L7.99856 10.4687M5.13185 13.9043L7.99856 10.4687M5.11517 6.98542C5.11755 6.19684 5.75739 5.55451 6.54875 5.55238C6.55044 5.55236 6.5522 5.55235 6.554 5.55234L6.55606 5.55234L6.57321 5.55239L13.4671 5.56905L13.4658 6.06905L13.4671 5.56905C14.2608 5.57098 14.903 6.21593 14.9011 7.01004C14.8992 7.80394 14.2541 8.44597 13.4602 8.44409L13.4602 8.4441L10.0315 8.43582L23.2141 21.6184C23.7755 22.1798 23.7755 23.0899 23.2141 23.6513C22.6527 24.2127 21.7426 24.2127 21.1812 23.6513L7.99856 10.4687M5.11517 6.98542C5.11516 6.98743 5.11517 6.98943 5.11517 6.99144L7.99856 10.4687M6.5541 5.55237C6.55474 5.55237 6.5554 5.55237 6.55606 5.55238L6.5541 5.55237Z"
																				fill="#FF2E2E" stroke="#FF2E2E" />
																		</svg>
																	</span>
																</td>
																<td>
																	<div class="font-w600">
																		<span class="mr-1">
																			<svg width="24" height="24"
																				viewBox="0 0 24 24" fill="none"
																				xmlns="http://www.w3.org/2000/svg">
																				<path
																					d="M12 0C5.3726 0 0 5.3726 0 12C0 18.6274 5.3726 24 12 24C18.6274 24 24 18.6274 24 12C23.9924 5.37574 18.6243 0.00758581 12 0ZM17.8879 10.6801C17.4417 11.0743 16.9263 11.3824 16.3679 11.5885C15.9726 11.7164 15.6111 11.9312 15.3098 12.2174C14.9098 13.1698 15.1554 14.2713 15.9227 14.9637C15.9488 14.9899 15.9734 15.0179 15.9962 15.0474C16.9614 16.2842 16.8633 18.0438 15.7668 19.1657C14.5528 20.3776 12.5865 20.3776 11.3722 19.1657C10.6039 18.2437 10.3528 16.9962 10.7044 15.8486C10.7894 15.1855 10.5626 14.5201 10.0899 14.0471C9.62093 13.5951 8.97064 13.383 8.32532 13.4711C7.17777 13.8222 5.93055 13.5703 5.009 12.8017C3.79553 11.5898 3.79448 9.6238 5.00639 8.41059C5.00717 8.40955 5.00822 8.40876 5.009 8.40798C6.1304 7.31065 7.89083 7.21256 9.12732 8.17857C9.99289 9.03394 11.2752 9.32194 11.9566 8.86339C12.2438 8.56283 12.4588 8.20107 12.5859 7.8053C12.7921 7.24735 13.0997 6.73256 13.4934 6.28682C14.7068 5.07335 16.6739 5.07335 17.8874 6.28656C19.1011 7.50003 19.1011 9.46712 17.8879 10.6806V10.6801Z"
																					fill="#2B98D6" />
																				<path
																					d="M14.6784 7.39816C14.4502 7.69123 14.2697 8.01851 14.1441 8.368C13.9151 9.05703 13.4924 9.66563 12.9269 10.1211C11.3324 10.9773 9.36089 10.6462 8.13349 9.31614C7.59153 8.95261 6.86908 9.01592 6.39859 9.4683C5.8676 9.99853 5.86709 10.8591 6.39732 11.3901C6.39783 11.3904 6.39808 11.3909 6.39859 11.3911C6.71872 11.71 7.17465 11.7605 8.1483 11.5823C8.34563 11.5466 8.54577 11.5285 8.74643 11.5285C9.72186 11.5443 10.6549 11.9298 11.3572 12.6068C12.2081 13.4577 12.6027 14.6632 12.4194 15.8526C12.2382 16.8239 12.2887 17.2814 12.6091 17.6023C13.1404 18.1326 14.0007 18.1326 14.5319 17.6023C14.9909 17.1119 15.0363 16.3647 14.6399 15.8224C13.3436 14.5927 13.0316 12.6469 13.8786 11.0736C14.3341 10.5083 14.9426 10.0861 15.6317 9.85787C15.9816 9.73175 16.3092 9.55024 16.602 9.32048C17.1327 8.78948 17.1327 7.92865 16.6017 7.3979C16.0705 6.86715 15.2099 6.86741 14.6792 7.39841L14.6784 7.39816Z"
																					fill="#2B98D6" />
																			</svg>
																		</span>
																		Ripple
																	</div>
																</td>
																<td class="font-w500">
																	06:24:45 AM
																</td>
																<td class="font-w600 text-center">
																	-₹912
																</td>
																<td>
																	<a class="btn-link text-danger float-right"
																		href="#">Canceled</a>
																</td>
															</tr>
															<tr>
																<td>
																	<span class="bgl-success p-3 d-inline-block">
																		<svg width="29" height="29" viewBox="0 0 29 29"
																			fill="none"
																			xmlns="http://www.w3.org/2000/svg">
																			<path
																				d="M23.6186 15.7207L23.6186 15.7207L23.6353 22.6289C23.6354 22.6328 23.6354 22.6363 23.6353 22.6396M23.6186 15.7207L23.1353 22.6341L23.6353 22.635C23.6353 22.6481 23.6347 22.6583 23.6345 22.6627L23.6344 22.6642C23.6346 22.6609 23.6351 22.652 23.6353 22.6407C23.6353 22.6403 23.6353 22.64 23.6353 22.6396M23.6186 15.7207C23.6167 14.9268 22.9717 14.2847 22.1777 14.2866C21.3838 14.2885 20.7417 14.9336 20.7436 15.7275L20.7436 15.7275L20.7519 19.1563M23.6186 15.7207L20.7519 19.1563M23.6353 22.6396C23.6329 23.4282 22.9931 24.0705 22.2017 24.0726C22.2 24.0726 22.1983 24.0727 22.1965 24.0727L22.1944 24.0727L22.1773 24.0726L15.2834 24.056L15.2846 23.556L15.2834 24.056C14.4897 24.054 13.8474 23.4091 13.8494 22.615C13.8513 21.8211 14.4964 21.179 15.2903 21.1809L15.2903 21.1809L18.719 21.1892L5.53639 8.0066C4.975 7.44521 4.975 6.53505 5.53639 5.97367C6.09778 5.41228 7.00793 5.41228 7.56932 5.97367L20.7519 19.1563M23.6353 22.6396C23.6353 22.6376 23.6353 22.6356 23.6353 22.6336L20.7519 19.1563M22.1964 24.0726C22.1957 24.0726 22.1951 24.0726 22.1944 24.0726L22.1964 24.0726Z"
																				fill="#2BC155" stroke="#2BC155" />
																		</svg>
																	</span>
																</td>
																<td>
																	<div class="font-w600">
																		<span class="mr-1">
																			<svg width="24" height="24"
																				viewBox="0 0 24 24" fill="none"
																				xmlns="http://www.w3.org/2000/svg">
																				<path
																					d="M12 0C5.3726 0 0 5.3726 0 12C0 18.6274 5.3726 24 12 24C18.6274 24 24 18.6274 24 12C23.9924 5.37574 18.6243 0.00758581 12 0ZM16.2857 18.0001H9.42866C8.9552 18.0001 8.57147 17.6164 8.57147 17.1429C8.57147 17.1024 8.57434 17.0618 8.5801 17.0216L9.22515 12.5054L7.92222 12.8313C7.85421 12.8486 7.78437 12.8572 7.71427 12.8572C7.24081 12.8567 6.85759 12.4727 6.85785 11.9992C6.85838 11.6063 7.12571 11.2642 7.50683 11.1684L9.48674 10.6735L10.2942 5.0213C10.3612 4.55254 10.7954 4.22714 11.2642 4.2941C11.7329 4.36107 12.0583 4.79529 11.9914 5.26404L11.2825 10.2247L14.3636 9.4543C14.8222 9.33737 15.2886 9.61439 15.4053 10.0729C15.5222 10.5315 15.2452 10.9979 14.7866 11.1148C14.784 11.1153 14.7814 11.1161 14.7788 11.1166L11.0204 12.0562L10.4164 16.2857H16.2857C16.7592 16.2857 17.1429 16.6695 17.1429 17.1429C17.1429 17.6161 16.7592 18.0001 16.2857 18.0001Z"
																					fill="#5F5F5F" />
																			</svg>
																		</span>
																		Litecoin
																	</div>
																</td>
																<td class="font-w500">
																	06:24:45 AM
																</td>
																<td class="font-w600 text-center">
																	₹ <%= litecoin %>
																</td>
																<td>
																	<a class="btn-link text-success float-right"
																		href="#">Completed</a>
																</td>
															</tr>
															<tr>
																<td>
																	<span class="bgl-success p-3 d-inline-block">
																		<svg width="29" height="29" viewBox="0 0 29 29"
																			fill="none"
																			xmlns="http://www.w3.org/2000/svg">
																			<path
																				d="M23.6186 15.7207L23.6186 15.7207L23.6353 22.6289C23.6354 22.6328 23.6354 22.6363 23.6353 22.6396M23.6186 15.7207L23.1353 22.6341L23.6353 22.635C23.6353 22.6481 23.6347 22.6583 23.6345 22.6627L23.6344 22.6642C23.6346 22.6609 23.6351 22.652 23.6353 22.6407C23.6353 22.6403 23.6353 22.64 23.6353 22.6396M23.6186 15.7207C23.6167 14.9268 22.9717 14.2847 22.1777 14.2866C21.3838 14.2885 20.7417 14.9336 20.7436 15.7275L20.7436 15.7275L20.7519 19.1563M23.6186 15.7207L20.7519 19.1563M23.6353 22.6396C23.6329 23.4282 22.9931 24.0705 22.2017 24.0726C22.2 24.0726 22.1983 24.0727 22.1965 24.0727L22.1944 24.0727L22.1773 24.0726L15.2834 24.056L15.2846 23.556L15.2834 24.056C14.4897 24.054 13.8474 23.4091 13.8494 22.615C13.8513 21.8211 14.4964 21.179 15.2903 21.1809L15.2903 21.1809L18.719 21.1892L5.53639 8.0066C4.975 7.44521 4.975 6.53505 5.53639 5.97367C6.09778 5.41228 7.00793 5.41228 7.56932 5.97367L20.7519 19.1563M23.6353 22.6396C23.6353 22.6376 23.6353 22.6356 23.6353 22.6336L20.7519 19.1563M22.1964 24.0726C22.1957 24.0726 22.1951 24.0726 22.1944 24.0726L22.1964 24.0726Z"
																				fill="#2BC155" stroke="#2BC155" />
																		</svg>
																	</span>
																</td>
																<td>
																	<div class="font-w600">
																		<span class="mr-1">
																			<svg width="24" height="24"
																				viewBox="0 0 24 24" fill="none"
																				xmlns="http://www.w3.org/2000/svg">
																				<path
																					d="M16 9.50011C15.9992 8.67201 15.216 8.00092 14.2501 8H9V11H14.2501C15.216 10.9993 15.9992 10.328 16 9.50011Z"
																					fill="#FFAB2D" />
																				<path
																					d="M9 16H14.2501C15.2165 16 16 15.3285 16 14.5001C16 13.6715 15.2165 13 14.2501 13H9V16Z"
																					fill="#FFAB2D" />
																				<path
																					d="M12 0C5.3726 0 0 5.3726 0 12C0 18.6274 5.3726 24 12 24C18.6274 24 24 18.6274 24 12C23.9924 5.37574 18.6243 0.00758581 12 0ZM18.0001 14.5713C17.9978 16.4641 16.4641 17.9978 14.5716 17.9999V18.8571C14.5716 19.3305 14.1876 19.7143 13.7144 19.7143C13.2409 19.7143 12.8572 19.3305 12.8572 18.8571V17.9999H11.1431V18.8571C11.1431 19.3305 10.7591 19.7143 10.2859 19.7143C9.8124 19.7143 9.42866 19.3305 9.42866 18.8571V17.9999H6.85733C6.38387 17.9999 6.00013 17.6161 6.00013 17.1429C6.00013 16.6695 6.38387 16.2857 6.85733 16.2857H7.71427V7.71427H6.85733C6.38387 7.71427 6.00013 7.33053 6.00013 6.85707C6.00013 6.38361 6.38387 5.99987 6.85733 5.99987H9.42866V5.14293C9.42866 4.66947 9.8124 4.28573 10.2859 4.28573C10.7593 4.28573 11.1431 4.66947 11.1431 5.14293V5.99987H12.8572V5.14293C12.8572 4.66947 13.2409 4.28573 13.7144 4.28573C14.1879 4.28573 14.5716 4.66947 14.5716 5.14293V5.99987C16.4571 5.99202 17.992 7.5139 18.0001 9.39937C18.0043 10.3978 17.5714 11.3481 16.8152 12C17.5643 12.6445 17.9967 13.5828 18.0001 14.5713Z"
																					fill="#FFAB2D" />
																			</svg>
																		</span>
																		Bitcoin
																	</div>
																</td>
																<td class="font-w500">
																	06:24:45 AM
																</td>
																<td class="font-w600 text-center">
																	+₹5,553
																</td>
																<td>
																	<a class="btn-link text-success float-right"
																		href="javascript:void(0);">Completed</a>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--**********************************
            Content body end
        ***********************************-->

					<!--**********************************
            Footer start
        ***********************************-->

					<!--**********************************
            Footer end
        ***********************************-->

					<!--**********************************
           Support ticket button start
        ***********************************-->

					<!--**********************************
           Support ticket button end
        ***********************************-->
	</div>
	<!--**********************************
        Main wrapper end
    ***********************************-->

	<!--**********************************
        Scripts
    ***********************************-->
	<!-- Required vendors -->
	<script src="./vendor/global/global.min.js"></script>
	<script src="./vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="./vendor/chart.js/Chart.bundle.min.js"></script>
	<script src="./js/custom.min.js"></script>
	<script src="./js/deznav-init.js"></script>
	<script src="./vendor/owl-carousel/owl.carousel.js"></script>

	<!-- Chart piety plugin files -->
	<script src="./vendor/peity/jquery.peity.min.js"></script>

	<!-- Dashboard 1 -->
	<script src="./js/dashboard/dashboard-1.js"></script>
	<script>
		function carouselReview() {
			/*  testimonial one function by = owl.carousel.js */
			/*  testimonial one function by = owl.carousel.js */
			jQuery('.owl-bank-wallet').owlCarousel({
				loop: true,
				autoplay: false,
				margin: 0,
				nav: false,
				center: true,
				dots: false,
				navText: [''],
				responsive: {
					0: {
						items: 2,
					},

					480: {
						items: 2,
					},

					991: {
						items: 3,
					},
					1200: {
						items: 3,
					},
					1600: {
						items: 2,
					},
				},
			});

			jQuery('.testimonial-one').owlCarousel({
				loop: true,
				autoplay: true,
				margin: 15,
				nav: true,
				dots: false,
				center: true,
				navText: [
					'',
					'<i class="las la-long-arrow-alt-right"></i>',
				],
				responsive: {
					0: {
						items: 3,
					},
					600: {
						items: 5,
					},
					991: {
						items: 8,
					},

					1200: {
						items: 8,
					},
					1600: {
						items: 6,
					},
				},
			});
		}

		jQuery(window).on('load', function () {
			setTimeout(function () {
				carouselReview();
			}, 1000);
		});
	</script>
</body>

</html>