<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>iPortfolio - Notes</title>
	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" href="assets/images/logo60.png" />
	<link href="./vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="./vendor/chartist/css/chartist.min.css" />
	<link href="./vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
	<link href="./css/style.css" rel="stylesheet" />
	<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet" />
	<link href="./vendor/owl-carousel/owl.carousel.css" rel="stylesheet" />
</head>

<body>
	<!--*******************
        Preloader start
    ********************-->
	<div id="preloader">
		<div class="sk-three-bounce">
			<div class="sk-child sk-bounce1"></div>
			<div class="sk-child sk-bounce2"></div>
			<div class="sk-child sk-bounce3"></div>
		</div>
	</div>
	<!--*******************
        Preloader end
    ********************-->

	<!--**********************************
        Main wrapper start
    ***********************************-->
	<div id="main-wrapper">
		<!--**********************************
            Nav header start
        ***********************************-->
		<%- include('./partials/nav-header.ejs'); %>
			<!--**********************************
            Nav header end
        ***********************************-->

			<!--**********************************
            Chat box start
        ***********************************-->

			<!--**********************************
            Chat box End
        ***********************************-->

			<!--**********************************
            Header start
        ***********************************-->
			<%- include('./partials/navbar.ejs'); %>
				<!--**********************************
            Header end ti-comment-alt
        ***********************************-->

				<!--**********************************
            Sidebar start
        ***********************************-->
				<%- include('./partials/sidebar.ejs'); %>
					<!--**********************************
            Sidebar end
        ***********************************-->

					<!--**********************************
            Content body start
        ***********************************-->

					<div class="content-body">
						<!-- row -->
						<a href="notes" class="btn btn-secondary"
							style="background-color: #6418C3 ; border-color: #6418C3; margin: 30px" ;>Create Note</a>

						<% notes.forEach(note=>
							{ %>
							<div class="card mt-2" style="margin: 30px">
								<div class="card-body">
									<h5 class="card-title">
										<%= note.title %>
									</h5>
									<p class="text-muted">
										<%= note.description %>
									</p>
								</div>
							</div>
							<%}) %>

					</div>
					<!--**********************************
            Content body end
        ***********************************-->

					<!--**********************************
            Footer start
        ***********************************-->


					<!--**********************************
           Support ticket button start
        ***********************************-->

					<!--**********************************
           Support ticket button end
        ***********************************-->
	</div>
	<!--**********************************
        Main wrapper end
    ***********************************-->

	<!--**********************************
        Scripts
    ***********************************-->
	<!-- Required vendors -->
	<script src="./vendor/global/global.min.js"></script>
	<script src="./vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="./js/custom.min.js"></script>
	<script src="./js/deznav-init.js"></script>
	<!-- Apex Chart -->
	<script src="./vendor/apexchart/apexchart.js"></script>

	<!--dashboard-chart-->
	<script src="./js/dashboard/portfolio.js"></script>
</body>

</html>